# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [5]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from my_config import my_gkey as key

# Configure gmaps
gmaps.configure(api_key=key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [6]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City ID,City,Country,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Amahai,ID,-3.3333,128.9167,86.99,65,69,5.10,Broken Clouds
1,1,Ushuaia,AR,-54.8000,-68.3000,46.06,87,0,4.61,Clear Sky
2,2,Hambantota,LK,6.1241,81.1185,77.34,100,75,1.14,Broken Clouds
3,3,Torbay,CA,47.6666,-52.7314,43.75,84,100,26.46,Overcast Clouds
4,4,Tuktoyaktuk,CA,69.4541,-133.0374,12.20,92,100,18.41,Light Snow

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [7]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("Please enter your minimum temperature criteria "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("Please enter your maximum temperature criteria "))

Please enter your minimum temperature criteria 75
Please enter your maximum temperature criteria 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [8]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)] 
                                    
# Display sample data
preferred_cities_df.head()

,City ID,City,Country,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Amahai,ID,-3.3333,128.9167,86.99,65,69,5.10,Broken Clouds
2,2,Hambantota,LK,6.1241,81.1185,77.34,100,75,1.14,Broken Clouds
10,10,Kapaa,US,22.0752,-159.3190,82.38,74,40,17.27,Scattered Clouds
11,11,Mount Isa,AU,-20.7333,139.5000,85.77,23,0,11.50,Clear Sky
12,12,Sao Gabriel Da Cachoeira,BR,-0.1303,-67.0892,75.15,96,69,1.30,Broken Clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [9]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head()

,City ID,City,Country,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Amahai,ID,-3.3333,128.9167,86.99,65,69,5.10,Broken Clouds
2,2,Hambantota,LK,6.1241,81.1185,77.34,100,75,1.14,Broken Clouds
10,10,Kapaa,US,22.0752,-159.3190,82.38,74,40,17.27,Scattered Clouds
11,11,Mount Isa,AU,-20.7333,139.5000,85.77,23,0,11.50,Clear Sky
12,12,Sao Gabriel Da Cachoeira,BR,-0.1303,-67.0892,75.15,96,69,1.30,Broken Clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [10]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lon"]].copy()

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lon
0,Amahai,ID,86.99,Broken Clouds,-3.3333,128.9167
2,Hambantota,LK,77.34,Broken Clouds,6.1241,81.1185
10,Kapaa,US,82.38,Scattered Clouds,22.0752,-159.3190
11,Mount Isa,AU,85.77,Clear Sky,-20.7333,139.5000
12,Sao Gabriel Da Cachoeira,BR,75.15,Broken Clouds,-0.1303,-67.0892

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [11]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = None

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lon,Hotel Name
0,Amahai,ID,86.99,Broken Clouds,-3.3333,128.9167,None
2,Hambantota,LK,77.34,Broken Clouds,6.1241,81.1185,None
10,Kapaa,US,82.38,Scattered Clouds,22.0752,-159.3190,None
11,Mount Isa,AU,85.77,Clear Sky,-20.7333,139.5000,None
12,Sao Gabriel Da Cachoeira,BR,75.15,Broken Clouds,-0.1303,-67.0892,None

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [12]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": key,
    "location": ""
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [13]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lon"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        #hotel_df.loc[index, "Hotel Name"] = pd.to_numeric(hotel_df.loc[index, "Hotel Name"], errors="coerce")
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lon,Hotel Name
0,Amahai,ID,86.99,Broken Clouds,-3.3333,128.9167,HOTEL ISABELA
2,Hambantota,LK,77.34,Broken Clouds,6.1241,81.1185,Bungalow 63
10,Kapaa,US,82.38,Scattered Clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
11,Mount Isa,AU,85.77,Clear Sky,-20.7333,139.5000,ibis Styles Mt Isa Verona
12,Sao Gabriel Da Cachoeira,BR,75.15,Broken Clouds,-0.1303,-67.0892,Alarne - Área De Lazer Do Alto Rio Negro

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [15]:
# Drop the rows where there is no Hotel Name.

clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lon,Hotel Name
0,Amahai,ID,86.99,Broken Clouds,-3.3333,128.9167,HOTEL ISABELA
2,Hambantota,LK,77.34,Broken Clouds,6.1241,81.1185,Bungalow 63
10,Kapaa,US,82.38,Scattered Clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
11,Mount Isa,AU,85.77,Clear Sky,-20.7333,139.5000,ibis Styles Mt Isa Verona
12,Sao Gabriel Da Cachoeira,BR,75.15,Broken Clouds,-0.1303,-67.0892,Alarne - Área De Lazer Do Alto Rio Negro

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [16]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [17]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [18]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [19]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>HOTEL ISABELA</dd>\n<dt>City</dt><dd>Amahai</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>Broken Clouds and 86.99 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bungalow 63</dd>\n<dt>City</dt><dd>Hambantota</dd>\n<dt>Country</dt><dd>LK</dd>\n<dt>Current Weather</dt><dd>Broken Clouds and 77.34 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>Scattered Clouds and 82.38 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>ibis Styles Mt Isa Verona</dd>\n<dt>City</dt><dd>Mount Isa</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>Clear Sky and 85.77 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Alarne - Área De Lazer Do Alto Rio Negro</dd>\n<dt>City</dt><dd>Sao Gabriel Da Cachoeira</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>Broken Clouds and 75.15 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>Shower Rain and 77.16 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sama Emirate Hotel</dd>\n<dt>City</dt><dd>Aden</dd>\n<dt>Country</dt><dd>YE</dd>\n<dt>Current Weather</dt><dd>Clear Sky and 78.19 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>Broken Clouds and 81.54 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>SEGAYA PROPERTY</dd>\n<dt>City</dt><dd>Dingle</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Current Weather</dt><dd>Light Rain and 86.16 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sarathy Lodge</dd>\n<dt>City</dt><dd>Manali</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>Overcast Clouds and 77.09 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [20]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lon"]]

# Display sample data
locations.head(10)

        Lat       Lon
0   -3.3333  128.9167
2    6.1241   81.1185
10  22.0752 -159.3190
11 -20.7333  139.5000
12  -0.1303  -67.0892
13 -21.2000 -175.2000
14  12.7794   45.0367
15  -0.6000   73.0833
26  10.9995  122.6711
38  13.1667   80.2667

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [21]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Display the figure containing the map
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))